# 第2章: UNIXコマンドの基礎

hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

# 10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [1]:
fname = 'hightemp.txt'
with open(fname) as f:
    text = f.readlines()
    print(len(text))

24

In [3]:
# UNIXコマンド
! wc -l hightemp.txt

      24 hightemp.txt

# 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [10]:
fname = 'hightemp.txt'
with open(fname) as f:
    text = f.read()
    text = text.replace('\t', ' ')
print(text)

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [14]:
# UNIXコマンド
! tr '\t' ' ' < hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

trコマンドは2つの文字を指定すれば置換してくれます。対象データは標準入力から与える必要があるので、<でリダイレクトしています。詳細はmanでご確認ください。

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [16]:
fname = 'hightemp.txt'
with open(fname) as f, open('col1.txt', 'w') as col1_file, open('col2.txt', 'w') as col2_file:
    for line in f:
        cols = line.split('\t')
        col1_file.write(cols[0] + '\n')
        col2_file.write(cols[1] + '\n')

In [31]:
# UNIXコマンド（できない）
! cut -f 1 -d "\t" hightemp.txt > col1_test.txt

cut: bad delimiter

In [32]:
! diff --report-identical-files col1.txt col1_test.txt

1,24d0
< 高知県
< 埼玉県
< 岐阜県
< 山形県
< 山梨県
< 和歌山県
< 静岡県
< 山梨県
< 埼玉県
< 群馬県
< 群馬県
< 愛知県
< 千葉県
< 静岡県
< 愛媛県
< 山形県
< 岐阜県
< 群馬県
< 千葉県
< 埼玉県
< 大阪府
< 山梨県
< 山形県
< 愛知県

# 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [39]:
fname1 = 'col1.txt'
fname2 = 'col2.txt'

with open(fname1) as col1_file, open(fname2) as col2_file, open('merge.txt', 'w') as out_file:
    for col1_line, col2_line in zip(col1_file, col2_file):
        #out_file.write(col1_line + '\t' + col2_line + '\n') # 無駄な改行が入ってしまうのでこれではダメ
        out_file.write(col1_line.strip() + '\t' + col2_line.strip() + '\n')

In [41]:
# UNIXコマンド
! paste col1.txt col2.txt > merge_test.txt
! diff --report-identical-files merge.txt merge_test.txt

Files merge.txt and merge_test.txt are identical

strip()メソッドが取り除く空白文字は、スペース、タブ、改行が対象になります

# 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [46]:
fname = 'hightemp.txt'
n = int(input('N--> '))

with open(fname) as f:
    for i, line in enumerate(f):
        if i >= n:
            break
        print(line.rstrip())

N--> 5
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

In [48]:
# UNIXコマンド
! head -n 5 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

`enumerate()`関数を使うと、forループの中でリスト（配列）などのイテラブルオブジェクトの要素と同時にインデックス番号（カウント、順番）を取得できる。

# 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [55]:
fname = 'hightemp.txt'
n = int(input('N--> '))

with open(fname) as f:
    lines = f.readlines()
    for line in lines[-n:]:
        print(line.strip())

N--> 6
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [57]:
# UNIXコマンド
! tail -n 5 hightemp.txt

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

`readlines()`でファイル内の全ての行を読み込むことができる。その後スライスで末尾からn行目までを取り出す。

# 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [71]:
import math

fname = 'hightemp.txt'
n = int(input('N--> '))

with open(fname) as f:
    lines = f.readlines()
    count = len(lines)
    unit = math.ceil(count / n) # 切り上げ １ファイルあたりの行数
    
    for i, offset in enumerate(range(0, count, unit), 1):
        with open('child_{:02d}.txt'.format(i), mode='w') as out_file:
            for line in lines[offset:offset + unit]: # offset〜offset + unit（１ファイルあたりの行数）までをループ
                out_file.write(line)

N--> 5
0
5
10
15
20

`offset`は0からcountまでunitずつステップアップする変数になっている。

`range()`関数は下記のような動作をする。  
```
list(range(0, 30, 5))
→[0, 5, 10, 15, 20, 25]  
```
3つ目の引数を省略した場合は1がデフォルト設定されます。

# 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [79]:
fname = 'hightemp.txt'

with open(fname) as f:
    set_prefectures = set()
    for line in f:
        cols = line.split('\t') # タブで分割
        set_prefectures.add(cols[0]) # 分割した0列目（県名）を取得

for n in set_prefectures:
    print(n)

山梨県
静岡県
千葉県
和歌山県
大阪府
愛媛県
高知県
岐阜県
山形県
愛知県
埼玉県
群馬県

リスト型のように、set型も同じく複数の値を格納できる型です。
しかし、リスト型との決定的な違いは「重複した要素がない」「要素に順番がない」という部分にあります。

# 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [105]:
fname = 'hightemp.txt'

with open(fname) as f:
    lines = f.readlines()
    for line in f:
        cols = line.split('\t')[2] # タブで分割した３カラム目を取得
        lines.sort(key=cols)

for line in lines:
    print(line, end='')

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

`read()`と`readlines()`の違い

In [96]:
with open(fname) as f:
    text = f.read()
    print(text)

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [94]:
with open(fname) as f:
    lines = f.readlines()
    print(lines)

['高知県\t江川崎\t41\t2013-08-12\n', '埼玉県\t熊谷\t40.9\t2007-08-16\n', '岐阜県\t多治見\t40.9\t2007-08-16\n', '山形県\t山形\t40.8\t1933-07-25\n', '山梨県\t甲府\t40.7\t2013-08-10\n', '和歌山県\tかつらぎ\t40.6\t1994-08-08\n', '静岡県\t天竜\t40.6\t1994-08-04\n', '山梨県\t勝沼\t40.5\t2013-08-10\n', '埼玉県\t越谷\t40.4\t2007-08-16\n', '群馬県\t館林\t40.3\t2007-08-16\n', '群馬県\t上里見\t40.3\t1998-07-04\n', '愛知県\t愛西\t40.3\t1994-08-05\n', '千葉県\t牛久\t40.2\t2004-07-20\n', '静岡県\t佐久間\t40.2\t2001-07-24\n', '愛媛県\t宇和島\t40.2\t1927-07-22\n', '山形県\t酒田\t40.1\t1978-08-03\n', '岐阜県\t美濃\t40\t2007-08-16\n', '群馬県\t前橋\t40\t2001-07-24\n', '千葉県\t茂原\t39.9\t2013-08-11\n', '埼玉県\t鳩山\t39.9\t1997-07-05\n', '大阪府\t豊中\t39.9\t1994-08-08\n', '山梨県\t大月\t39.9\t1990-07-19\n', '山形県\t鶴岡\t39.9\t1978-08-03\n', '愛知県\t名古屋\t39.9\t1942-08-02\n']

# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [145]:
from itertools import groupby

fname = 'hightemp.txt'
with open(fname) as f:
    lines = f.readlines()
    prefectures = [line.split('\t')[0] for line in lines]

# 都道府県で集計
prefectures.sort()
result = []
for prefecture, group in groupby(prefectures):
    result += [(prefecture, len(list(group)))]

# ソート
result.sort(key = lambda result: result[1], reverse=True)

# 出力
for n in result:
    print('{}({})'.format(n[0], n[1]))

埼玉県(3)
山形県(3)
山梨県(3)
群馬県(3)
千葉県(2)
岐阜県(2)
愛知県(2)
静岡県(2)
和歌山県(1)
大阪府(1)
愛媛県(1)
高知県(1)

In [138]:
from itertools import groupby
fname = 'hightemp.txt'

# 都道府県名の読み込み
lines = open(fname).readlines()
kens = [line.split('\t')[0] for line in lines]

# 都道府県で集計し、(都道府県, 出現頻度)のリスト作成
kens.sort()    # goupbyはソート済みが前提
result = [(ken, len(list(group))) for ken, group in groupby(kens)]

# print(result)
print(ken[1])
# 出現頻度でソート
result.sort(key=lambda ken: ken[1], reverse=True)

# 結果出力
for ken in result:
    print('{ken}({count})'.format(ken=ken[0], count=ken[1]))

1
埼玉県(3)
山形県(3)
山梨県(3)
群馬県(3)
千葉県(2)
岐阜県(2)
愛知県(2)
静岡県(2)
和歌山県(1)
大阪府(1)
愛媛県(1)
高知県(1)